GF_SECURITY_ADMIN_PASSWORD={{ observability_vault_grafana_admin_password }}
GF_USERS_ALLOW_SIGN_UP=false
GF_SERVER_ROOT_URL=https://{{ grafana_traefik_host }}
GF_UNIFIED_ALERTING_ENABLED=true
GF_ALERTING_ENABLED=false
