services:
  traefik:
    image: "{{ traefik_image }}"
    container_name: traefik
    restart: unless-stopped
    ports:
      - "{{ traefik_http_port }}:80"
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock:ro
      - ./traefik.yml:/etc/traefik/traefik.yml:ro
    networks:
      - {{ traefik_network_name }}
    security_opt:
      - no-new-privileges:true
    cap_drop:
      - ALL
    mem_limit: 256m
    cpus: 1.0
    pids_limit: 200
    logging:
      driver: "json-file"
      options:
        max-size: "10m"
        max-file: "3"

networks:
  {{ traefik_network_name }}:
    external: true
