# Traefik 静的設定
api:
    dashboard: false

entryPoints:
    web:
        address: ":80"
        http:
            redirections:
                entryPoint:
                    to: websecure
                    scheme: https
    websecure:
        address: ":443"

providers:
    docker:
        endpoint: "unix:///var/run/docker.sock"
        exposedByDefault: false
        network: "{{ traefik_network_name }}"

certificatesResolvers:
    letsencrypt:
        acme:
            email: "{{ traefik_acme_email }}"
            storage: /letsencrypt/acme.json
{% if traefik_acme_staging %}
            caServer: "https://acme-staging-v02.api.letsencrypt.org/directory"
{% endif %}
            dnsChallenge:
                provider: route53
                resolvers:
{% for resolver in traefik_acme_resolvers %}
                  - "{{ resolver }}"
{% endfor %}
                propagation:
                    delayBeforeChecks: "30s"

log:
    level: INFO
