# Traefik 静的設定
api:
    dashboard: false

entryPoints:
    web:
        address: ":80"

providers:
    docker:
        endpoint: "unix:///var/run/docker.sock"
        exposedByDefault: false
        network: "{{ traefik_network_name }}"

log:
    level: INFO
